body {
    font-family: 'Inter', sans-serif;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    body {
        width: 70%;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    font-size: 15px;
    color: hsl(236, 13%, 42%);
}
/* Header */

.header {
    align-items: center;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {
    .back_menu {
        visibility: hidden;
    }
}

.nav {
    position: fixed;
    background-color: white;
    padding: 1rem;
    top: 0;
    right: -50%;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 400ms;
}

@media (min-width: 768px) {
    .nav {
        position: static;
        background-color: none;
        width: auto;
        height: auto;
        padding: 0;
        display: block;
    }
}

.nav img {
    width: 2rem;
    margin: 3.3rem 0 0 80%;
}

.nav img:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .nav img {
        display: none;
    }
}

nav a {
    text-decoration: none;
    margin: 1rem;
    color: hsl(240, 100%, 5%);
}

@media (min-width: 768px) {
    nav a {
        margin-top: 0;
    }
}

nav a:hover {
    color: hsl(5, 85%, 63%);
}

nav a:nth-child(2) {
    margin-top: 8rem;
}

@media (min-width: 768px) {
    nav a:nth-child(2) {
        margin-top: 0;
    }
}

nav a:last-child {
    margin-right: 0;
}

@media (min-width: 768px) {
    .btn_menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .header nav {
        display: block;
    }
}

/* Main */

@media (min-width: 768px) {
    .main__contenedor {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .main__description {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.main__question {
    font-size: 3.5rem;
    margin: 15px 0;
}

.main__text {
    color: hsl(236, 13%, 42%);
}

@media (min-width: 768px) {
    .main__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


button {
    padding: 13px 30px;
    text-transform: uppercase; 
    border: 0px;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 2rem;
    max-width: 65%;
}

button:hover {
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
}

.main__news {
    background-color: hsl(240, 100%, 5%);
    padding: 1rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .main__news {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 0;
    }
}

.main__news h4 {
    color: hsl(35, 77%, 62%);
    font-size: 2.5rem;
    margin: 0;
}

.main__new h5{
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    font-size: 1.1rem;
}

/* Article */

@media (min-width: 768px) {
    .retro__articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        margin-top: 3rem;
    }
}
.article {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.article:first-child {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .article:first-child {
        margin-top: 0;
    }
}

.article img {
    width: 8rem;
}

.article__text h4{
    font-size: 2.4rem;
    margin: 0;
    color: hsl(233, 8%, 79%);
}

.article__text h6 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: hsl(240, 100%, 5%);
}

.article__text h6:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}